In [ ]:
import pandas as pd
import datablockAPI as api
from datablockAPI.core.models import (
    Company, LienFiling, JudgmentFiling, Suit, Claim, Bankruptcy, Insolvency, Liquidation,
    SignificantEvent, ActiveExclusion,
    FinancialStatement, FinancialOverview, BalanceSheetItem, ProfitLossItem, CashFlowItem
)

# Initialize database
api.init(database='sqlite:///datablock.db')
session = api.get_session()

‚úì Database initialized: sqlite:///datablock.db
‚úì Created 38 tables

In [2]:
# Load all JSON data files
# Note: Significant events loader has been added - reload this cell to load them
api.load(['Material/companyinfo.json', 'Material/companyfinancial.json', 'Material/eventsfilings.json'])

üìÅ Loading: Material/companyinfo.json
  ‚úì Found existing company: 540924028 - Hubei Huoli Group Co., Ltd.
  ‚úì Updated company info
‚úì Completed: Material/companyinfo.json

üìÅ Loading: Material/companyfinancial.json
  ‚úì Found existing company: 315369934 - Bayerische Motoren Werke Aktiengesellschaft
  ‚úì Added latest fiscal financial statement
  ‚úì Added 5 other financial statements
‚úì Completed: Material/companyfinancial.json

üìÅ Loading: Material/eventsfilings.json
  ‚úì Found existing company: 060704780 - Apple Inc.
  ‚úì Loaded 11 lien filings
  ‚úì Loaded 20 judgment filings
  ‚úì Loaded 100 contracts
  ‚úì Loaded 5 significant events
‚úì Completed: Material/eventsfilings.json

‚úì Successfully loaded 3 file(s)

## Legal Event Filings

In [3]:
# Lien Filings
query = session.query(
    Company.primary_name,
    LienFiling
).join(Company, LienFiling.company_id == Company.id)

df_liens = pd.read_sql(query.statement, session.bind)
df_liens

,primary_name,id,lien_id,company_id,is_stop_d,filing_type_description,filing_type_dnb_code,filing_class_description,filing_class_dnb_code,filing_sub_type,...,original_filing_date,filing_chapter,status_description,status_dnb_code,status_date,court_name,court_type_description,has_historical_event,priority,priority_group
0,Apple Inc.,1,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2022-10-25,None,None,None,None,None
1,Apple Inc.,2,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2021-04-13,None,None,None,None,None
2,Apple Inc.,3,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2019-04-24,None,None,None,None,None
3,Apple Inc.,4,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2019-04-24,None,None,None,None,None
4,Apple Inc.,5,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Void,None,2020-05-14,None,None,None,None,None
5,Apple Inc.,6,1,3,False,Tax Lien,14744,None,None,None,...,None,None,Open,None,2017-05-23,None,None,None,None,None
6,Apple Inc.,7,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2015-06-18,None,None,None,None,None
7,Apple Inc.,8,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2015-01-22,None,None,None,None,None
8,Apple Inc.,9,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2012-06-21,None,None,None,None,None
9,Apple Inc.,10,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2012-02-09,None,None,None,None,None
10,Apple Inc.,11,1,3,True,Tax Lien,14744,None,None,None,...,None,None,Release,None,2018-08-14,None,None,None,None,None

In [4]:
# Judgment Filings
query = session.query(
    Company.primary_name,
    JudgmentFiling
).join(Company, JudgmentFiling.company_id == Company.id)

df_judgments = pd.read_sql(query.statement, session.bind)
df_judgments

,primary_name,id,judgment_id,company_id,is_stop_d,filing_type_description,filing_type_dnb_code,filing_date,filing_amount_value,filing_amount_currency,status_description,status_date
0,Apple Inc.,1,1,3,False,Court Judgement,1625,2023-08-09,893.0,USD,Unsatisfied,2023-08-09
1,Apple Inc.,2,1,3,False,Consent Judgment,14756,2020-11-24,3412376.0,USD,Unsatisfied,2020-11-24
2,Apple Inc.,3,1,3,False,Court Judgement,1625,2020-06-24,500.0,USD,Unsatisfied,2020-06-24
3,Apple Inc.,4,1,3,True,Court Judgement,1625,2019-12-24,408.0,USD,Satisfied,2020-01-31
4,Apple Inc.,5,1,3,False,Court Judgement,1625,2019-06-19,3000.0,USD,Unsatisfied,2019-06-19
5,Apple Inc.,6,1,3,False,Court Judgement,1625,2019-06-04,1061.0,USD,Unsatisfied,2019-06-04
6,Apple Inc.,7,1,3,False,Court Judgement,1625,2019-04-03,NaN,None,Unsatisfied,2019-04-03
7,Apple Inc.,8,1,3,False,Court Judgement,1625,2018-12-12,479.0,USD,Unsatisfied,2018-12-12
8,Apple Inc.,9,1,3,True,Court Judgement,1625,2018-04-17,2729.0,USD,Vacate,2018-08-28
9,Apple Inc.,10,1,3,False,Court Judgement,1625,2017-04-27,355.0,USD,Unsatisfied,2017-04-27
10,Apple Inc.,11,1,3,False,Court Judgement,1625,2016-10-31,6745.0,USD,Unsatisfied,2016-10-31
11,Apple Inc.,12,1,3,True,Court Judgement,1625,2015-11-09,5153.0,USD,Satisfied,2015-12-31
12,Apple Inc.,13,1,3,False,Court Judgement,1625,2015-10-16,500.0,USD,Unsatisfied,2015-10-16
13,Apple Inc.,14,1,3,True,Court Judgement,1625,2015-08-04,10000.0,USD,Archived,2020-05-14
14,Apple Inc.,15,1,3,False,Court Judgement,1625,2015-03-10,49.0,USD,Unsatisfied,2015-03-10
15,Apple Inc.,16,1,3,True,Court Judgement,1625,2012-10-22,295.0,USD,Vacate,2013-01-23
16,Apple Inc.,17,1,3,True,Court Judgement,1625,2010-02-08,3235.0,USD,Archived,2020-05-14
17,Apple Inc.,18,1,3,True,Court Judgement,1625,2009-10-26,835.0,USD,Archived,2020-05-14
18,Apple Inc.,19,1,3,True,Court Judgement,1625,2004-06-04,NaN,None,Archived,2015-01-12
19,Apple Inc.,20,1,3,True,Court Judgement,1625,2004-04-22,NaN,None,Archived,2015-01-12

In [ ]:
# Suits
query = session.query(
    Company.primary_name,
    Suit
).join(Company, Suit.company_id == Company.id)

df_suits = pd.read_sql(query.statement, session.bind)
df_suits

## Significant Events

In [5]:
# Significant Events
query = session.query(
    Company.primary_name,
    SignificantEvent
).join(Company, SignificantEvent.company_id == Company.id)

df_significant_events = pd.read_sql(query.statement, session.bind)
df_significant_events

,primary_name,id,company_id,event_date,event_type_description,event_type_dnb_code,start_date,impact_details,impact_amount_value,impact_amount_currency,impacted_premises_type,damaged_assets_class,impacted_children,insurance_claim_settlement_amount_value,insurance_claim_settlement_amount_currency,data_provider_description,data_provider_dnb_code
0,Apple Inc.,1,3,2024-08-01,Media Report of Work Force Change,19976,None,None,None,None,None,None,None,None,None,None,None
1,Apple Inc.,2,3,2024-07-26,Media Report of Intent to Change Work Force,19977,None,None,None,None,None,None,None,None,None,None,None
2,Apple Inc.,3,3,2024-07-25,Media Report of Work Force Change,19976,None,None,None,None,None,None,None,None,None,None,None
3,Apple Inc.,4,3,2024-07-12,Business Sold/Merged/Acquired,32888,None,None,None,None,None,None,None,None,None,None,None
4,Apple Inc.,5,3,2024-06-18,Media Report of Intent to Change Work Force,19977,None,None,None,None,None,None,None,None,None,None,None

## Exclusions

In [6]:
# Active Exclusions
query = session.query(
    Company.primary_name,
    ActiveExclusion
).join(Company, ActiveExclusion.company_id == Company.id)

df_exclusions = pd.read_sql(query.statement, session.bind)
df_exclusions

Empty DataFrame
Columns: [primary_name, id, company_id, sam_record_number, cage_code, classification_type_desc, classification_type_dnb_code, program_type_desc, agency_name, effective_date, expiration_date, sam_record_update_date, agency_comments]
Index: []

## Financial Statements

In [7]:
# Financial Overview
query = session.query(
    Company.primary_name,
    FinancialStatement.financial_statement_to_date,
    FinancialStatement.currency,
    FinancialStatement.units,
    FinancialOverview
).join(FinancialStatement, Company.id == FinancialStatement.company_id
).join(FinancialOverview, FinancialStatement.id == FinancialOverview.statement_id)

df_financial_overview = pd.read_sql(query.statement, session.bind)
df_financial_overview

,primary_name,financial_statement_to_date,currency,units,id,statement_id,cash_and_liquid_assets,marketable_securities,accounts_receivable,due_from_group_short_term,...,profit_after_tax,dividends,total_indebtedness,working_capital,net_current_assets,tangible_net_worth,current_ratio,quick_ratio,current_liabilities_over_net_worth,total_liabilities_over_net_worth
0,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,Thousand,1,1,17327000.0,NaN,4162000.0,642000.0,...,12165000.0,None,None,73253000.0,None,72901000.0,1.9814,1.6638,0.8033,1.7000
1,Bayerische Motoren Werke Aktiengesellschaft,2022-12-31,EUR,Thousand,2,2,16870000.0,3438000.0,4127000.0,1036000.0,...,18582000.0,None,None,72726000.0,None,69512000.0,1.9898,1.7211,0.8048,1.7049
2,Bayerische Motoren Werke Aktiengesellschaft,2021-12-31,EUR,Thousand,3,3,16009000.0,4243000.0,2261000.0,694000.0,...,12463000.0,None,None,74607000.0,None,62152000.0,2.1322,1.8964,0.8771,2.0550
3,Bayerische Motoren Werke Aktiengesellschaft,2020-12-31,EUR,Thousand,4,4,13537000.0,4226000.0,2298000.0,546000.0,...,3857000.0,None,None,72405000.0,None,49178000.0,2.1885,1.9522,0.9903,2.5217
4,Bayerische Motoren Werke Aktiengesellschaft,2019-12-31,EUR,Thousand,5,5,12036000.0,5391000.0,2518000.0,308000.0,...,5022000.0,None,None,72390000.0,None,48178000.0,2.0115,1.7983,1.1947,2.8065
5,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,Thousand,6,6,10979000.0,5316000.0,2546000.0,295000.0,...,7207000.0,None,None,70456000.0,None,47117000.0,2.1353,1.9251,1.0684,2.5976

In [8]:
# Balance Sheet Items
query = session.query(
    Company.primary_name,
    FinancialStatement.financial_statement_to_date,
    FinancialStatement.currency,
    BalanceSheetItem
).join(FinancialStatement, Company.id == FinancialStatement.company_id
).join(BalanceSheetItem, FinancialStatement.id == BalanceSheetItem.statement_id)

df_balance_sheet = pd.read_sql(query.statement, session.bind)
df_balance_sheet

,primary_name,financial_statement_to_date,currency,id,statement_id,item_description,item_dnb_code,value,priority,item_group_level,section
0,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,1,1,Internally Generated Intangible Assets,24265,12344000.0,35,40,assets
1,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,2,1,Goodwill,6468,1487000.0,50,40,assets
2,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,3,1,Other Intangible Assets,6469,6191000.0,70,40,assets
3,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,4,1,Intangibles,3006,20022000.0,80,30,assets
4,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,5,1,Land & buildings,3008,13248000.0,90,40,assets
...,...,...,...,...,...,...,...,...,...,...,...
337,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,338,6,other liabilities,7220,12738000.0,2610,30,liabilities
338,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,339,6,liabilities falling due within one year,7222,62060000.0,2630,20,liabilities
339,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,340,6,deferred income,7223,7147000.0,2650,20,liabilities
340,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,341,6,Deferred Tax Liability,23205,1806000.0,2655,20,liabilities
341,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,342,6,Total Liabilities & Net Worth,3108,208980000.0,2730,10,liabilities

In [9]:
# Profit & Loss Items
query = session.query(
    Company.primary_name,
    FinancialStatement.financial_statement_to_date,
    FinancialStatement.currency,
    ProfitLossItem
).join(FinancialStatement, Company.id == FinancialStatement.company_id
).join(ProfitLossItem, FinancialStatement.id == ProfitLossItem.statement_id)

df_profit_loss = pd.read_sql(query.statement, session.bind)
df_profit_loss

,primary_name,financial_statement_to_date,currency,id,statement_id,item_description,item_dnb_code,value,priority,item_group_level
0,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,1,1,Sales Revenue,3110,155498000.0,2740.0,10.0
1,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,2,1,net sales,7225,155498000.0,3020.0,20.0
2,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,3,1,Cost of Sales,7244,125809000.0,3640.0,20.0
3,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,4,1,Gross profit,7245,29689000.0,3650.0,10.0
4,Bayerische Motoren Werke Aktiengesellschaft,2023-12-31,EUR,5,1,Selling and Administration Expenses,6508,6091000.0,3660.0,20.0
...,...,...,...,...,...,...,...,...,...,...
141,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,142,6,taxes on income,7274,2575000.0,4390.0,30.0
142,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,143,6,Corporation Tax,11715,2220000.0,4393.0,40.0
143,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,144,6,Deferred Tax (Taxation),11717,355000.0,4397.0,40.0
144,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,145,6,Other income/charges,6529,-7207000.0,4400.0,20.0
145,Bayerische Motoren Werke Aktiengesellschaft,2018-12-31,EUR,146,6,Number of employees,5036,131565.0,NaN,NaN

In [10]:
# Cash Flow Items
query = session.query(
    Company.primary_name,
    FinancialStatement.financial_statement_to_date,
    FinancialStatement.currency,
    CashFlowItem
).join(FinancialStatement, Company.id == FinancialStatement.company_id
).join(CashFlowItem, FinancialStatement.id == CashFlowItem.statement_id)

df_cash_flow = pd.read_sql(query.statement, session.bind)
df_cash_flow

Empty DataFrame
Columns: [primary_name, financial_statement_to_date, currency, id, statement_id, item_description, item_dnb_code, value, priority, item_group_level]
Index: []

In [ ]:
# Claims
query = session.query(
    Company.primary_name,
    Claim
).join(Company, Claim.company_id == Company.id)

df_claims = pd.read_sql(query.statement, session.bind)
df_claims

In [ ]:
# Bankruptcy
query = session.query(
    Company.primary_name,
    Bankruptcy
).join(Company, Bankruptcy.company_id == Company.id)

df_bankruptcy = pd.read_sql(query.statement, session.bind)
df_bankruptcy

In [ ]:
# Insolvency
query = session.query(
    Company.primary_name,
    Insolvency
).join(Company, Insolvency.company_id == Company.id)

df_insolvency = pd.read_sql(query.statement, session.bind)
df_insolvency

In [ ]:
# Liquidation
query = session.query(
    Company.primary_name,
    Liquidation
).join(Company, Liquidation.company_id == Company.id)

df_liquidation = pd.read_sql(query.statement, session.bind)
df_liquidation